 .tableContainer {
    border-radius: 20px;
    max-width: 950;
    background-color: #f2f2f2;
    padding: 40px;
    padding-top: 30px;
}

.tableHeaderCell {
    font-weight: bolder;
    background-color: #e6e6e6;
    font-display: #fff;
}
.status {
    font-weight: bold;
    font-size: medium;
    color: white;
    background-color: grey;
    border-radius: 8px;
    padding: 3px 10px;
    display: inline-block;
}
.page {
    align-content:center;
    background-color: honeydew;
}
#button {
    font-size: medium;
    color: black;
    background-color: rgb(212, 211, 211);
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
  }
  .btn {
      padding-top: 20px;
      padding-left: 2.5%;
  }
  .x {
    background-color: rgb(212, 211, 211);
    border: 10px;
    border-radius: 5px;
    padding: 20px;
  }